*{margin: 1px; padding: 1px;}
#top{border-bottom: solid 2px #970102;}
#top img{float: left; margin-right: 50px}
#top h1{margin-top: 45px}
#conteudo{clear: both; margin-top: 20px}
#conteudo table{border: 0; width: 100%;font: 11px arial, verdana}
#conteudo table tr td{padding: 5px 10px 5px 10px; margin: 0; border-bottom: solid 1px #CCC; border-right: solid 2px #CCC; text-align: left}
#conteudo table tr td label{display:block; width: 140px; font-weight: bold; font-size: 12px; text-align: right}
#printar{clear: both;}
.topic{background: #e0e8ea;}
.topic2{color: #005c73;}
.topic h1{padding-left: 25px; color: #005c73; background-image: url(../images/ponteiro.png); background-repeat: no-repeat; background-position: left center; font: bold 18px arial, verdana;}
.clearTable *{height: 15px; border: 0 !important;}